.model-tabs {
  color: #fff;
  background: #00d8ff;
  cursor: default;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.model-tabs-panel {
  min-width: 140px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-travel-boxes {
  margin-top: -125px;
  background: #fff;
}
.tab-para p {
  font-size: 24px;
}
/* .desc-tabs */
.desc-tabs {
  border: transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.desc-tabs .nav-tabs {
  display: inline-block;
  border-right: 1px solid #fff;
}

.desc-tabs .nav-tabs > li.active > a {
  color: #fff;
  background: #00d8ff;
  cursor: default;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.desc-tabs .nav-tabs > li.active > a:focus,
.desc-tabs .nav-tabs > li.active > a:hover {
  color: #565a5c;
  text-decoration: none;
}
.desc-tabs .nav-tabs > li > a {
  color: #fff;
  background: #00d8ff;
  cursor: default;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding: 17px 40px 17px 46px;
  border: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.single-travel-boxes .nav > li > a:focus,
.single-travel-boxes .nav > li > a:hover {
  color: #565a5c;
  background: #fff;
  border: 0;
  text-decoration: none;
}
.desc-tabs .nav-tabs > li > a > i {
  padding-right: 6px;
}
/* .desc-tabs */

/*===ab-select-box===*/
.tab-para {
  padding: 43px 42px 24px;
  /* overflow: scroll; */
}
.single-tab-select-box h2 {
  color: #565a5c;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  margin-bottom: 17px;
}
.travel-select-icon {
  position: relative;
}
.travel-select-icon:after {
  position: absolute;
  content: "\f107";
  right: 0px;
  top: 0;
  font-size: 18px;
  color: #aaa;
  background: #f9f9f9;
  font-family: "fontAwesome";
  pointer-events: none;
  border: 1px solid #d7d7d7;
  border-bottom: transparent;
  padding: 10px;
}

.travel-check-icon {
  position: relative;
}
.travel-check-icon:after {
  position: absolute;
  content: "\f073";
  right: 0px;
  top: 0;
  font-size: 18px;
  color: #aaa;
  background: #f9f9f9;
  font-family: "fontAwesome";
  pointer-events: none;
  border: 1px solid #d7d7d7;
  border-bottom: transparent;
  padding: 10px 8px;
} /*travel-select-icon*/

.travel-select-icon select,
.travel-check-icon input {
  color: #aaa;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  height: 48px;
} /*select*/

.travel-input-number input {
  color: #aaa;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  height: 48px;
}

.travel-input-number .form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0 !important;
  box-shadow: none;
  border: 1px solid #d7d7d7;
  border-radius: 0px;
  margin-bottom: 20px;
}

.travel-select-icon .form-control,
.travel-check-icon .form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0 !important;
  box-shadow: none;
  border: 1px solid #d7d7d7;
  border-radius: 0px;
  margin-bottom: 20px;
} /*.travel-select-icon .form-control*/

/*.trip-circle*/
.trip-circle {
  display: flex;
  margin-bottom: 17px;
}
.single-trip-circle {
  display: flex;
}
.single-trip-circle:nth-child(2) {
  display: flex;
  margin-left: 42px;
}
.single-trip-circle input[type="radio"] {
  display: none;
}
.single-trip-circle input[type="radio"] + label {
  color: #565a5c;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  margin-bottom: 17px;
  margin-left: 0px;
}
.single-trip-circle input[type="radio"] + label span.round-boarder {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.single-trip-circle input[type="radio"] + label span.round-boarder1 {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: -13px 0px 0 1px;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.single-trip-circle input[type="radio"] + label span.round-boarder {
  border: 2px solid #aaa;
}

.single-trip-circle input[type="radio"] + label span.round-boarder1 {
  border: 1px solid #fff;
  background-color: #fff;
}

.single-trip-circle input[type="radio"]:checked + label span.round-boarder1 {
  background-color: #00d8ff;
}

.single-trip-circle input[type="radio"] + label span.round-boarder1,
.single-trip-circle input[type="radio"]:checked + label span.round-boarder1 {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}
/*.trip-circle*/

/* filter */
.travel-budget {
  margin-top: 38px;
}
.travel-budget h3 {
  color: #565a5c;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
.price_filter {
  margin-top: 9px;
}
.price_filter
  .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
  background: #d7d7d7;
  border: medium none;
  border-radius: 0;
  height: 6px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
}
.price_filter .ui-slider-handle.ui-state-default.ui-corner-all {
  background: #00d8ff none repeat scroll 0 0;
  border: 0px solid #00d8ff;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  outline: 0;
  cursor: pointer;
  z-index: 1;
}
.price_filter .ui-slider-range {
  background: #00d8ff none repeat scroll 0 0;
}
.price_slider_amount > input[type="text"] {
  font-weight: 500;
  font-size: 14px;
  color: #aaa;
  letter-spacing: 5.5px;
  height: 40px;
  text-align: center;
  width: 280px;
  border: none !important;
  font-family: "Poppins", sans-serif;
}
.price_slider_amount label {
  font-weight: 500;
  font-size: 14px;
  color: #aaa;
  font-family: "Poppins", sans-serif;
}
.price_slider_amount > input[type="text"]:focus {
  outline: 0;
}
.price_slider_amount > input[type="submit"] {
  outline: 0;
}
.price_slider_amount {
  letter-spacing: 2px;
}
.price_slider_amount > input[type="submit"] {
  font-weight: 500;
  font-size: 14px;
  color: #aaa;
  font-family: "Poppins", sans-serif;
}

/* .travel-btn */
.about-view.travel-btn {
  width: 180px;
  margin-right: 15px;
  margin: 30px 50px;
}

.datepicker_style {
  border: 1px solid #d7d7d7;
  width: inherit;
}

/* Hotel */

.hotels_img {
  margin-right: 50px;
}

.hotels_details {
  margin: 20px;
  text-transform: capitalize;
}

.hotels_card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotels_details .hotels_title {
  margin-bottom: 7px;
  display: flex;
  align-items: center;
}

.hotels_details .hotels_name {
  font-size: 1.5rem;
}

.hotels_details .hotels_city {
  font-size: 1.2rem;
}

.hotels_details .hotels_info {
  line-height: 35px;
}

.hotel_dest_heading {
  font-weight: 600 !important;
  font-size: 1.3rem !important;
}

.Avai_hotel_heading {
  font-weight: 600 !important;
  font-size: 1.4rem !important;
}

.moreInfo_Des {
  background: #fff;
  padding: 1px 0 2px;
}

.travelInfo_subtotal {
  color: #565a5c;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 17px;
}

.travelinfo_mod_close_btn {
  font-size: 23px;
  display: flex;
  justify-content: end;
  margin-bottom: 12px;
}
