.order_heading {
  margin: 2rem;
}

.orders_img {
  margin-right: 50px;
}

.orders_details {
  margin: 20px;
  text-transform: capitalize;
}

.orders_container {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.orders_card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.removeButton_orders {
  margin-left: 35px;
  letter-spacing: 1.2px;
  transition: 0.5s ease-in-out;
}

.removeOrder-btn:hover {
  box-shadow: 0 5px 20px rgba(14, 15, 18, 0.3);
}

.orders_details .orders_title {
  font-size: 1.5rem;
  margin-bottom: 7px;
}

.orders_details .orders_info {
  line-height: 28px;
}

.order_total {
  font-size: 1.4rem;
  padding: 28px;
  display: flex;
  justify-content: space-between;
}

.Tour_info_orders {
  line-height: 28px;
}

.Tour_info_orders .Tour_info_orders_heading {
  font-size: 1.2rem;
}

.Tour_info_orders .Tour_info_dates {
  display: flex;
}

.Tour_info_orders .Tour_info_members {
  display: flex;
}

.order_info_Ava_hotels {
  line-height: 25px;
}

.order_info_Ava_hotels .order_info_Ava_hotels_heading {
  font-size: 1.2rem;
}

.order_info_Ava_hotels .ava_hotels {
  display: flex;
  align-items: center;
}

.orders_details .order_package_price {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}
